<link rel="stylesheet" href="../public/users.css" />

<div>
  <nav class="nav-test carrot">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/daycares/dayCareList">Search for Daycares</a></li>
      <li><a href="/users/logout">Logout</a></li>
    </ul>
  </nav>
</div>

<title>User Profile</title>

<div class="table-form">
  <div>
    <p>User Information</p>
    <table>
      <tr><th>First Name</th><td>{{firstName}}</td></tr>
      <tr><th>Last Name</th><td>{{lastName}}</td></tr>
      <tr><th>Email</th><td>{{email}}</td></tr>
      <tr><th>Town</th><td>{{town}}</td></tr>
      <tr><th>Zipcode</th><td>{{zipcode}}</td></tr>
    </table>
    <div class="button-container">
      <a class="nav-link" href="/users/editUserPage">
        <button>Edit Info</button>
      </a>
      <button>Change Password</button>
      <button>Delete Account</button>
    </div>
  </div>
  <div>
    <p>Children</p>
    <ul id="childrens"></ul>
    <div class="button-container">
      <a class="nav-link" href="/users/addChildren">
        <button>Add Child</button>
      </a>
      <button>Remove Child</button>
    </div>
  </div>
  <div>
    <p>Favorite Daycares</p>
    <ul id="daycares"></ul>
    <button>Remove Daycare</button>
  </div>
</div>