<link rel="stylesheet" href="../public/users.css" />

<div>
  <nav class="nav-test carrot">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/daycares/dayCareList">Search for Daycares</a></li>
      <li><a href="/users/logout">Logout</a></li>
    </ul>
  </nav>
</div>

<div class="table-form">
  <div>
    <p>Reviews</p>
    <ul>
      {{#each reviews}}
        <li>Daycare:
          {{this.daycareName}}
          Review:
          {{this.review}}
          Rating:
          {{this.rating}}
          <a href="/users/editReview/{{this.reviewId}}">Edit Review</a>
          <a href="/users/removeReview/{{this.reviewId}}">Remove Review</a>
        </li>
      {{/each}}
    </ul>
    <div class="button-container">
      <a class="link-button" href="/users/userPage">Go Back</a>
    </div>
  </div>
</div>