<link rel="stylesheet" href="../public/daycares.css" />

<div>
  <nav class="nav-test carrot">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/daycares">Daycares home page</a></li>
    </ul>
  </nav>
</div>

<title>Daycare Comparing Results</title>
<article class="results">
    <h1>Comparison Results</h1>

    <div>
        <h2>Daycare 1: {{daycare1.name}}</h2>
        <p>Location: {{daycare1.location.address}}, {{daycare1.location.town}}, {{daycare1.location.state}} {{daycare1.location.zipcode}}</p>
        <p>Business Hours: {{daycare1.businessHours}}</p>
        <p>Tuition Range: {{daycare1.tuitionRange}}</p>
        <p>Years in Business: {{daycare1.yearsInBusiness}}</p>
        <p>Availability: {{daycare1.availability}}</p>
        <p>Lunch Choices: {{#each daycare1.lunchChoices}}{{this}} {{/each}}</p>
        <p>Rating: {{daycare1.rating}}</p>
        <p>Reviews: {{#each daycare1.reviews}}{{this}} {{/each}}</p>
    </div>

    <div>
        <h2>Daycare 2: {{daycare2.name}}</h2>
        <p>Location: {{daycare2.location.address}}, {{daycare2.location.town}}, {{daycare2.location.state}} {{daycare2.location.zipcode}}</p>
        <p>Business Hours: {{daycare2.businessHours}}</p>
        <p>Tuition Range: {{daycare2.tuitionRange}}</p>
        <p>Years in Business: {{daycare2.yearsInBusiness}}</p>
        <p>Availability: {{daycare2.availability}}</p>
        <p>Lunch Choices: {{#each daycare2.lunchChoices}}{{this}} {{/each}}</p>
        <p>Rating: {{daycare2.rating}}</p>
        <p>Reviews: {{#each daycare2.reviews}}{{this}} {{/each}}</p>
    </div>
</article>



