<head>
  <title>Daycare List</title>
  <link rel="stylesheet" href="../../public/daycareList.css" />
</head>
<section>
  <div class="header">
    <h2>List of Day Care Organizations</h2>
    <a href="/daycares/daycareList">See full list of daycares</a>
    <br />
    <a href="/">Back to Home</a>
  </div>
  <br />
  <form id="search_box_form" method="POST" action="/daycares/daycareListFiltered">
    <div class="search_box">
      <h3>Search daycares by...</h3>
      <select class="form-select search_select" aria-label="Default select example" form="search_box_form"
        name="select_options">
        <option value="daycare_name" name="daycare_name">Daycare Name</option>
        <option value="food_preference" name="food_preference">Food Preferences</option>
        <option value="availability" name="availability">Availability</option>
        <option value="duration" name="duration">Duration</option>
        <option value="rating" name="rating">Rating of at least</option>
      </select>
      <div class="input-group mb-3 search_input_box">
        <input type="text" class="form-control" placeholder="Enter data" aria-label="Username"
          aria-describedby="basic-addon1" name="user_input">
      </div>
      <button class="btn btn-primary" form="search_box_form" type="submit">Search</button>
    </div>
  </form>

  <br />
  {{#each dayCares}}
  <div class="card text-center">
    <div class="card-header">
      {{#if this.isUserFav}}
      <a href="/users/removeFromFavorites/{{this._id}}" class="btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart bg-danger"
          viewBox="0 0 16 16" data-darkreader-inline-fill="" style="--darkreader-inline-fill: currentColor;">
          <path
            d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15">
          </path>
        </svg>
        Click to remove from your favorites.
      </a><br />
      {{else}}
      <a href="/users/addToFavorites/{{this._id}}" class="btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart bg-danger"
          viewBox="0 0 16 16" data-darkreader-inline-fill="" style="--darkreader-inline-fill: currentColor;">
          <path
            d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15">
          </path>
        </svg>
        Click to Favorite
      </a><br />
      {{/if}}

      <b>Daycare Name:</b><br />
      <h2>{{this.name}}</h2>

    </div>
    <div class="card-body">
      <p><b>Introduction:</b> {{this.introduction}}</p>
      <p><b>Average Rating:</b> {{this.rating}} stars</p>
      <a href="/daycares/{{this._id}}" class="btn btn-primary">View Details</a>
      <a href="/daycares/daycareReviews/{{this._id}}" class="btn btn-primary">See reviews</a>
    </div>
    <div class="card-footer text-body-secondary">
      <b>Address:</b><br />
      {{this.location.address}},
      {{this.location.town}},
      {{this.location.state}}
      {{this.location.zipcode}}
    </div>
  </div><br />
  {{/each}}
</section>